.description{
    margin: 40rem 0 130rem 340rem;

    h3{
        font-size: 14px;
        color: var(--c-desc);
        padding: 20rem 0;
    }

    p{
        font-size: 12rem;
        max-width: 351px;
        padding: 20rem 0;
    }
}